In [1]:
x = 5
x

5

In [2]:
y, z = (1, 2)
print(y, z)

1 2

Create a variable with name `x` and a value of 10. Execute.

Tell the computer to show you the value of that variable without utilizing the `print()` function, similar to what you would do in Jupyter.

In [3]:
x = 10
x

10

On the same line, create four new variables: `a`, `b`, `c`, and `d`, that are equal to 10, 20, 30, and 40, respectively.

Tell the computer to show you the value corresponding to the variable `b`.

Do the same for `d`.

In [4]:
a, b, c, d = 10, 20, 30, 40
print(b, d)

20 40

Create a variable `a` equal to "True" and check its type.

In [5]:
a = True
type(a)

bool

The single equal sign is for assignments while the double equality sign is for checking equality between two values. It usually returns a boolean.
a = 12
a == 12 will return True.

In [7]:
# You can use the backslash for line continuation.
a = 5 + 2 + \
    6
print(a)

13

Comparison Operators are simply <=, >=, !=, ==, <, > (5 * 3 <= 5 ** 3)
Logical Operators are simply 'NOT', 'AND' & 'OR' e.g., True and True == True, False or True == True, not True == False
Identity Operators are simply 'IS' & 'IS NOT' and they are similar to the equality signs e.g., 5 is not 6 == True

Assign 10 to the variable `x` and 25 to the variable `y`. In the same cell, create 2 conditional statements. Let the first one print `"Both conditions are correct"` if `x` is greater then 3 and `y` is greater than 13. Let the second one print `"At least one of the conditions is false"` if `x` is less than or equal to 3 or `y` is less than or equal to 13. Change the values assigned to `x` and `y` and re-run the cell to verify your code still works.

In [4]:
x = 10
y = 25

if x > 3 and y > 13:
    print("Both conditions are correct")

if x <= 3 or y <= 13:
    print("At least one of the conditions is false")

Both conditions are correct

Keep the first two conditions of the code from the previous exercise (if x > 200, print out "Big"; If x > 100 and x <= 200, print out "Average").

Add a new elif statement, so that, eventually, the program prints "Small" if x >= 0 and x <= 100, and "Negative" if x < 0.

In [2]:
x = 187
if x > 200:
    print("Big")
elif 100 < x <= 200:
    print("Average")
elif 0 < x <= 100:
    print("Small")
else:
    print("Negative")

Average

It's safe to say that max and min can sort through a list of numbers and a list or tuple variable. E.g, checking max(1, 2, 3, 4, 5) and max((1, 2, 3, 4, 5)). First is a sequence of numbers while the second is a tuple containing a sequence of numbers and they still have the same result.

In [8]:
maximum = max((1, 2, 3, 4, 5))
maximum_2 = max(1, 2, 3, 4, 5)
print(maximum)
print(maximum_2)

5
5

In [12]:
users = ["John", "Maria", "George"]
# Delete the second user
del users[1]
# Add new users using the append and extend methods
users.append("Diana")
users.extend(["Mark", "Paul", "Mark"])
print(users)
# Get index of Mark
index = users.index("Mark")
print(index) # Would only print the first index of Mark.
# Count how many Marks are in the list
count = users.count("Mark")
print(count)
new_users = ["Laura", "Bob"]
# Merge the two users into a new list with same variable name
users = users + new_users
print(users)

['John', 'George', 'Diana', 'Mark', 'Paul', 'Mark']
3
2
['John', 'George', 'Diana', 'Mark', 'Paul', 'Mark', 'Laura', 'Bob']

In [14]:
x = (1, 5, 2)
y = (3, 4)
x.index(5)

1

Create a tuple, called Cars, with elements "BMW", "Dodge", and "Ford" in the given order. 

Access the second element of the Cars tuple.

In [16]:
Cars = ("BMW", "Dodge", "Ford")
Cars[1]

'Dodge'

Create a function called rectangle_info() that takes the length and width of a rectangle as arguments. The function should then return the area and the perimeter of the rectangle. Call the function with arguments 2 and 10 to verify it worked correctly.

In [ ]:
def rectangle_info(length, width):
    area = length * width
    perimeter = 2 * (length + width)
    return area, perimeter

# Call the function with arguments 2 and 10
result = rectangle_info(2, 10)
print(result)  # Output should be (20, 24)

Create a new dictionary called Price_list that contains the first five meals of the Menu dictionary as keys and assign the following five values as prices (assumed in dollars): 10, 5, 8, 12, 5. Start by Price_list = {}.

In [17]:
Menu = {'meal_1':'Spaghetti', 'meal_2':'Fries', 'meal_3':'Cheeseburger', 'meal_4':'Lasagna', 'meal_5':'Soup'}

Price_list = {}
dollars = [10, 5, 8, 12, 5]
keys = Menu.values()
for key, dollar in zip(keys, dollars):
    Price_list[key] = dollar
    
print(Price_list)

{'Spaghetti': 10, 'Fries': 5, 'Cheeseburger': 8, 'Lasagna': 12, 'Soup': 5}