## Lists

*Suggested Answers follow (usually there are multiple ways to solve a problem in Python).*

Create a list, called "Numbers". Let it contain the numbers 10, 25, 40, and 50.

In [1]:
Numbers = [10, 25, 40, 50]

Print the element at index 2 from the list.

In [2]:
Numbers[2]

40

Print the 0th element.

In [3]:
Numbers[0]

10

Print the third-to-last element using a minus sign in the brackets.

In [4]:
Numbers[-3]

25

Substitute the number 10 with the number 15.

In [5]:
Numbers[0] = 15
Numbers

[15, 25, 40, 50]

Delete the number 25 from the Numbers list.

In [6]:
del Numbers[1]
Numbers

[15, 40, 50]

## Help Yourself with Methods

*Suggested Answers follow (usually there are multiple ways to solve a problem in Python).*

Append the number 100 to the Numbers list.

In [1]:
Numbers = [15, 40, 50]

In [2]:
Numbers.append(100)
Numbers

[15, 40, 50, 100]

With the help of the "extend method", add the numbers 115 an 140 to the list.

In [3]:
Numbers.extend([115, 140])
Numbers

[15, 40, 50, 100, 115, 140]

Print a statement, saying "The fourth element of the Numbers list is:" and then designate the value of the fourth element. Use a trailing comma.

In [4]:
print ('The fourth element of the Numbers list is', Numbers[3])

The fourth element of the Numbers list is 100

How many elements are there in the Numbers list?

In [5]:
len(Numbers)

6

## List Slicing

*Suggested Answers follow (usually there are multiple ways to solve a problem in Python).*

In [1]:
Numbers = [15, 40, 50, 100, 115, 140]

Using list slicing, obtain the numbers 100 and 115.

In [2]:
Numbers[3:5]

[100, 115]

Using slicing, extract the first four elements from the list.

In [3]:
Numbers[:4]

[15, 40, 50, 100]

Using slicing, extract all the elements from the list from the 3rd position onwards.

In [4]:
Numbers[3:]

[100, 115, 140]

Using slicing, extract the last 4 elements from the list.

In [5]:
Numbers[-4:]

[50, 100, 115, 140]

Which is the position of the value 15?

In [6]:
Numbers.index(15)

0

Create a list, called "Two_Numbers". Let its elements be the values 1 and 2. Then, create a new one, named "All_Numbers", that will containt both the "Numbers" and the "Two_Numbers" lists.

In [7]:
Two_Numbers = [1,2]
All_Numbers = [Two_Numbers, Numbers]
All_Numbers

[[1, 2], [15, 40, 50, 100, 115, 140]]

Sort all the numbers in the "Numbers" list from the largest to the smallest.

In [8]:
Numbers.sort(reverse=True)
Numbers

[140, 115, 100, 50, 40, 15]

## Tuples

*Suggested Answers follow (usually there are multiple ways to solve a problem in Python).*

Create a tuple, called "Cars", with elements "BMW", "Dodge", and "Ford".

In [1]:
Cars = "BMW", "Dodge", "Ford"
Cars

('BMW', 'Dodge', 'Ford')

or:

In [2]:
Cars = ("BMW", "Dodge", "Ford")
Cars

('BMW', 'Dodge', 'Ford')

Access the second element of this tuple.

In [3]:
Cars[1]

'Dodge'

Call a method that would allow you to extract the provided name and age separately. Then print the "name" and "age" values to see if you worked correctly.

In [4]:
name, age = 'Peter,24'

ValueError: too many values to unpack (expected 2)

In [5]:
name, age = 'Peter,24'.split(',')

In [6]:
print (name)
print (age)

Peter
24

Create a function that takes as arguments the two values of a rectangle and then returns the Area and the Perimeter of the rectangle.
Call the function with arguments 2 and 10 to verify it worked correctly.

In [7]:
def rectangle_info(x,y):
    A = x * y
    P = 2 * (x + y)
    print ("Area and Parameter:")
    return A, P

In [8]:
rectangle_info(2, 10)

Area and Parameter:

(20, 24)

## Dictionaries

*Suggested Answers follow (usually there are multiple ways to solve a problem in Python).*

This is the menu of a close-by restaurant:

In [ ]:
Menu = {'meal_1':'Spaghetti', 'meal_2':'Fries', 'meal_3':'Hamburger', 'meal_4':'Lasagna'}

What is the second meal in the list?

In [2]:
Menu['meal_2']

'Fries'

or:

In [3]:
print (Menu['meal_2'])

Fries

Add a new meal - "Soup".

In [4]:
Menu['meal_5'] = "Soup"
Menu

{'meal_1': 'Spaghetti',
 'meal_2': 'Fries',
 'meal_3': 'Hamburger',
 'meal_4': 'Lasagna',
 'meal_5': 'Soup'}

Replace the Hamburger with a Cheeseburger.

In [5]:
Menu['meal_3'] = 'Cheesburger'
Menu

{'meal_1': 'Spaghetti',
 'meal_2': 'Fries',
 'meal_3': 'Cheesburger',
 'meal_4': 'Lasagna',
 'meal_5': 'Soup'}

Attach the Desserts list in the form of a sixth meal.

In [6]:
Dessert = ['Pancakes', 'Ice-cream', 'Tiramisu']

In [7]:
Menu['meal_6'] = Dessert
Menu

{'meal_1': 'Spaghetti',
 'meal_2': 'Fries',
 'meal_3': 'Cheesburger',
 'meal_4': 'Lasagna',
 'meal_5': 'Soup',
 'meal_6': ['Pancakes', 'Ice-cream', 'Tiramisu']}

Create a new dictionary that contains the first five meals as keys and assign the following five values as prices (in dollars):
10, 5, 8, 12, 5. 
Start by *Price_list = {}*.

In [8]:
Price_list = {}
Price_list['Spaghetti'] = 10
Price_list['Fries'] = 5
Price_list['Cheesburger'] = 8
Price_list['Lasagna'] = 12
Price_list['Soup'] = 5
Price_list

{'Cheesburger': 8, 'Fries': 5, 'Lasagna': 12, 'Soup': 5, 'Spaghetti': 10}

or:

In [9]:
Price_list = {}
Price_list[Menu['meal_1']] = 10
Price_list[Menu['meal_2']] = 5
Price_list[Menu['meal_3']] = 8
Price_list[Menu['meal_4']] = 12
Price_list[Menu['meal_5']] = 5
Price_list

{'Cheesburger': 8, 'Fries': 5, 'Lasagna': 12, 'Soup': 5, 'Spaghetti': 10}

Use the *.get()* method to check the price of the Spaghetti.

In [10]:
Price_list.get('Spaghetti')

10

or:

In [11]:
Price_list.get(Menu['meal_1'])

10

## List Comprehension

In [1]:
comprehension = [[i + j for i in range(2)] for j in range(5)]
print(comprehension)
comprehension = [i + j for i in range(2) for j in range(5)]
print(comprehension)

[[0, 1], [1, 2], [2, 3], [3, 4], [4, 5]]
[0, 1, 2, 3, 4, 1, 2, 3, 4, 5]

In [9]:
# Get odd numbers from 1 to 11 and raise them to the power of 3 (single conditional after the iterable)
import math
comprehension = [int(math.pow(num, 3)) for num in range(1, 11) if num % 2 != 0]
print(comprehension)
# Do the same thing but if it's an even number, return null (multi conditional before the iterable)
comp = [int(math.pow(num, 3)) if num % 2 else "null" for num in range(1, 11)]
print(comp)

[1, 27, 125, 343, 729]
[1, 'null', 27, 'null', 125, 'null', 343, 'null', 729, 'null']

Python List Comprehensions - Exercise #1
Create the following three lists: products_on_sale, sale_prices, quantities. They should contain the following values respectively:

`['Chair_Type_1', 'Chair_Type_2', 'Chair_Type_3', 'Chair_Type_4']`

`[100, 120, 135, 150]`

`[1000, 1500, 1300]`

The following code cell will execute a nested loop that will deliver all possible combinations of the elements from the products_on_sale, sale_prices and quantities lists:

```python
for chair_type in products_on_sale:
    for price in sale_prices:
        for quantity in quantities:
            print ([chair_type, price*quantity])
```
Use a list comprehension to obtain the same output. Store it in a variable called sales_revenue.

In [17]:
products_on_sale = [f"Chair_Type_{num}" for num in range(1, 5)]
sale_prices = [100, 120, 135, 150]
quantities = [1000, 1500, 1300]

sales_revenue = [[chair_type, price*quantity] for chair_type in products_on_sale for price in sale_prices for quantity in quantities]
sales_revenue = [
    [chair_type, price * quantity]
    for chair_type in products_on_sale
    for price in sale_prices
    for quantity in quantities
]
sales_revenue

Python List Comprehensions - Exercise #2
Use a list comprehension to return a list with all even numbers between 1 and 10 inclusive, multiplied by 10.

Please remember to use the print() function to print out the desired output.

In [21]:
# comprehension = [num * 10 for num in range(1, 11) if not num % 2]
# comprehension = [num * 10 for num in range(1, 11) if num % 2 == 0]
comprehension = [num * 10 for num in range(2, 11, 2)]
print(comprehension)

[20, 40, 60, 80, 100]

In [22]:
# Same thing above but without list comprehension
new_list = []
for num in range(2, 11, 2):
    new_list.append(num * 10)

print(new_list)

[20, 40, 60, 80, 100]

In [23]:
comprehension = [num * 10  if not num % 2 else "None" for num in range(1, 11)]
print(comprehension)

['None', 20, 'None', 40, 'None', 60, 'None', 80, 'None', 100]

## Lambda Functions
This is used when you don't want to name a function. It's also known as an anonymous function.
`function = lambda x: x ** 2` => first `X` is the parameter, and `x ** 2` is what happens to x and is returned.  It's the equivalent of the function below
```python
def square(x):
    return x ** 2
```
You can also get the result without assigning it to a variable by providing the argument and the lambda function in different parenthesis.
`(lambda x: x**2) (4)`

In [8]:
div = lambda num: print(num / 2)
div(12) # Output is 6
print((lambda num: num ** 2) (8)) # Single argument
print((lambda num, pow: num ** pow) (8,3)) # Multiple arguments

6.0
64
512

In [13]:
(lambda num: print(num * 10)) (7)
# Can also be used for formulas
formula = lambda x: ((135 - x ** 3) ** 4) / ((1 + x) ** 5)
print(formula(3))

70
132860.25

In [16]:
"""pip install "numpy<2.0" nltk==3.9.1 pandas==2.2.3 matplotlib==3.10.0 spacy==3.8.3 textblob==0.18.0.post0 vaderSentiment==3.3.2 transformers==4.47.1 scikit-learn==1.6.0 gensim==4.3.3 seaborn==0.13.2 torch==2.5.1 ipywidgets==8.1.5 chardet ipykernel jupyterlab notebook

python -m spacy download en_core_web_sm
python -m ipykernal install --user --name=myenv

Looking for 1GB
"""

'pip install "numpy<2.0" nltk==3.9.1 pandas==2.2.3 matplotlib==3.10.0 spacy==3.8.3 textblob==0.18.0.post0 vaderSentiment==3.3.2 transformers==4.47.1 scikit-learn==1.6.0 gensim==4.3.3 seaborn==0.13.2 torch==2.5.1 ipywidgets==8.1.5 chardet ipykernel jupyterlab notebook\n\nLooking for 1GB\n'